.container{
    width: 1110px;
    display: flex;
    align-items: center;
    gap: 125px;
    margin: auto;
    position: relative;
    z-index: var(--close);
}

.pattern_lines{
    width: 160px;
    height: 76px;
    position: absolute;
    right: -110px;
    top: 282px;
}

.photo_container{
    position: relative;
}

.photo{
    display: block;
    width: 540px;
    height: 744px;
}

.content{
    display: flex;
    flex-direction: column; 
}

.content_line{
    width: 71px;
    height: 7px;
    margin-bottom: 55px;
}

.content_title{
    color: #242B37;
    font-family: var(--font);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
    letter-spacing: -0.5px;
    margin-bottom: 48px;
    margin: 0px 0px 27px 0px;
}

.content_desc{
    color: #242B37;
    font-family: var(--font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin: 0px;
}


@media(max-width: 1370px){
    .pattern_lines{
        right: -40px;
    }
}

@media(max-width: 1200px){
    .container{
        width: 90%;
        gap: 70px;
    }
}

@media(max-width: 1070px){
    .photo{
        width: 440px;
        height: 620px;
    }
}

@media(max-width: 840px){
    .container{
        flex-direction: column-reverse;
        gap: 56px;
        margin-bottom: 118px;
    }

    .pattern_lines{
        top: 228px;
        right: -50px;
    }

    .photo{
        width: 573px;
        height: 360px;
    }

    .content{
        width: 457px;
        align-items: center;
    }

    .content_line{
        margin-bottom: 39px;
    }

    .content_title{
        text-align: center;
        margin-bottom: 27px;
    }

    .content_desc{
        text-align: center;
    }
}

@media(max-width: 600px){
    .container{
        gap: 48px;
        margin-bottom: 101px;
    }

    .pattern_lines{
        display: none;
    }

    .photo{
        width: 327px;
        height: 400px;
    }
    .content{
        width: 327px;
    }

    .content_line{
        margin-bottom: 36px;
    }

    .content_title{
        color: #242B37;
        text-align: center;
        font-size: 2rem;
        line-height: 40px; /* 125% */
        letter-spacing: -0.4px;
        margin-bottom: 13px;
    }

    .content_desc{
        font-size: 1rem;
        line-height: 26px;
    }
}