.main{
    position: relative;
}

.bgPatternOne{
    width: 895px;
    height: 320px;
    position: absolute;
    top: 1070px;
    left: 0px;
    z-index: var(--farthest);
}


.bgPatternTwo{
    width: 895px;
    height: 320px;
    position: absolute;
    top: 1911px;
    right: 0px;
    z-index: var(--farthest);
}

@media(max-width: 1070px){
    .bgPatternOne{
        left: -150px;
    }

    .bgPatternTwo{
        top: 1711px;
        right: -200px;
    }
}

@media(max-width: 840px){
    .bgPatternOne{
        left: -450px;
        top: 1092px;
    }

    .bgPatternTwo{
        top: 2169px;
        right: -600px;
    }
}

@media(max-width: 600px){
    .bgPatternOne, .bgPatternTwo{
        display: none;
    }
}